@import "tailwindcss";

body {
  width: 100vw;
  height: 100vh;
}
#root {
  height: 100vh;
  width: 100vw;
}

html {
  height: 100vh;
  width: 100vw;
  font-family: Poppins;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2a2b2d;
}

::-webkit-scrollbar-thumb {
  background: #3a3b3c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e5f50;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
